/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
  background: #A9A9A9;
}
nav {
    background: blue!important;
}

.container.contact-us {
    padding-top:10vh;
    
}

.navbar-dark {
    background: 
        blue!important
        ;
}

footer {
   position: fixed;
   bottom: 0;
   width: 100%;
}
รง
form {
    
}

h4 {
    
}

.gitForm {
    margin-top: 6vh;
}

#gifs-list {
        height: 400px;
    overflow-y: scroll;
    list-style: none;
}

.searchs {
    margin-top:6vh;
}

.fas {
    height: 7vh;
    width: 7vh;
    font-size: 7vh
        
}
